-
    let topmenu = [
        {
            name: 'ГОЛОВНА ',
            url: '#'
            },{
            name: 'ПОСЛУГИ ',
            url: '#'
            },{
            name: 'ПРО КОМПАНІЮ ',
            url: '#'
            },{
            name: 'АКЦІЇ ',
            url: '#'
            },{
            name: 'ПАРТНЕРИ ',
            url: '#'
            },{
            name: 'ВІДГУКИ ',
            url: '#'
            },{
            name: 'КОНТАКТИ',
            url: '#'
        }
    ]

mixin menu (items)
    ul 
        for item in items 
            li 
                a(href=item.url) #{item.name} 

-
    let cards=[
        {
            name: 'Тур на велосипедах', 
            img: 'img/bic.png',
            price: '335 грн*',
            p: 'Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.'
        }, {
            name: 'Екскурсія на острів', 
            img: 'img/round.png',
            price: '500 грн*',
            p: 'Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .'
        }, {
            name: 'Особливе замовлення', 
            img: 'img/pers.png',
            price: '250 грн.*',
            p: 'Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.'
        }
    ]

mixin priceCards (items)
    .cards
        for item in items
            div.card
                img(src=item.img, alt="")
                h4 #{item.name}
                h5 #{item.price}
                p #{item.p}

-
    let price=[
        {
            name: 'Романтична подорож на 2', 
            img: 'img/price/fortwo.png',
            price: '2599 грн.',
            p: 'Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.'
        }, {
            name: 'Велотур', 
            img: 'img/price/bike.png',
            price: '555 грн.',
            p: 'Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!'
        }, {
            name: 'На острови!', 
            img: 'img/price/tropic.png',
            price: '1559 грн.',
            p: 'Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!'
        }, {
            name: 'Катання на сьорфінгу', 
            img: 'img/price/surf.png',
            price: '999 грн.',
            p: 'Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!'
        }
    ]

mixin pricelist (items)
    .pricecards
        for item in items
            div.priceitem
                img(src=item.img, alt="")
                h4 #{item.name}
                p #{item.p}
                div.test
                    h5 #{item.price}
                    a(href='#').pricebtn замовити ➲